{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

	<!-- Pass current user to template -->
	
	<h1>Hi, {{ current_user.username }}!</h1>
	{% if form %} <!-- Optional blog submission form. -->
	<!-- Post submission form in index template -->
	{{ wtf.quick_form(form) }}
	<br>
	{% endif %}
		{% for post in posts %}
	{% endfor %}
	<nav aria-label="...">
	<ul class="pager">
	<li class="previous{% if not prev_url %} disabled{% endif %}">
	<a href="{{ prev_url or '#' }}">
	<span aria-hidden="true">&larr;</span> Newer posts
	</a>
	</li>
	<li class="next{% if not next_url %} disabled{% endif %}">
	<a href="{{ next_url or '#' }}">
	Older posts <span aria-hidden="true">&rarr;</span>
	</a>
	</li>
	</ul>
	</nav>
	{% endblock %}	

	
